#login {
    margin: 0.2rem 0.3rem;
    font-size: 0.2rem;
    border: 1px solid #dfdfdf;
  }
  // p {
  //   line-height: 0.3rem;
  //   text-align: center;
  // }
  .inp {
    border: 1px solid #dfdfdf;
    border-radius: 0.15rem;
    width: 95%;
    margin: 0.2rem auto;
  }
  .btn {
    width: 95%;
    margin: 0.2rem auto;
    background: red;
    border: none;
    box-shadow: 1px 2px #dfd0d0;
    background: linear-gradient(rgb(187, 240, 135), rgb(115, 225, 241));
  }
  #a{
    width:100%;
    line-height: .4rem;
    margin: 10px auto;
    text-align: center;
    font-size: .3rem;
    color: rgb(54, 144, 144);
  }